{include="header"}

<script type="text/javascript">
    function eliminar_divisa(cod)
    {
        if (confirm("¿Realmente desea eliminar la divisa " + cod + "?"))
        {
            window.location.href = '{$fsc->url()}&delete=' + cod;
        }
    }
</script>

<div class="container-fluid" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <div class="btn-group">
                {loop="$fsc->extensions"}
                {if="$value->type=='button'"}
                <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                {elseif="$value->type=='modal'"}
                <!--{$txt=base64_encode($value->text)}-->
                <!--{$url='index.php?page='.$value->from.$value->params}-->
                <a href="#" class="btn btn-xs btn-default" onclick="fs_modal('{$txt}', '{$url}')">{$value->text}</a>
                {/if}
                {/loop}
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#divisas" aria-controls="divisas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Divisas
        </a>
    </li>
    <li role="presentation">
        <a href="#configuracion" aria-controls="configuracion" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Configuración
        </a>
    </li>
    {loop="$fsc->extensions"}
    {if="$value->type=='tab'"}
    <li role="presentation">
        <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
    </li>
    {/if}
    {/loop}
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="divisas">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-left" width="120">Código</th>
                        <th class="text-left" width="120">Símbolo</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-left" width="120">Código ISO</th>
                        <th class="text-left">Tasa de conversión (Ventas)</th>
                        <th class="text-left">Tasa de conversión (compras)</th>
                        <th class="text-right" width="120">Acciones</th>
                    </tr>
                </thead>
                {loop="$fsc->divisa->all()"}
                <form action="{$fsc->url()}" method="post" class="form">
                    <tr>
                        <td class="col-sm-1">
                            <input type="hidden" name="coddivisa" value="{$value->coddivisa}"/>
                            <div class="form-control">{$value->coddivisa}</div>
                        </td>
                        <td class="col-sm-1"><input class="form-control" type="text" name="simbolo" value="{$value->simbolo}" autocomplete="off"/></td>
                        <td class="col-sm-3"><input class="form-control" type="text" name="descripcion" value="{$value->descripcion}" autocomplete="off"/></td>
                        <td class="col-sm-1"><input class="form-control" type="text" name="codiso" value="{$value->codiso}" autocomplete="off"/></td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">Al 02-04-2016:</div>
                                <input class="form-control input-sm text-right" type="text" name="tasaconv" value="{$value->tasaconv}" autocomplete="off"/>
                                <span class="input-group-btn">
                                    <button class="form-control input-sm btn btn-default" type="button" title="Agregar tasa de conversión" onclick="agregarTasa('{$value->coddivisa}','venta')">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">Al 02-04-2016:</div>
                                <input class="form-control input-sm text-right" type="text" name="tasaconv_compra" value="{$value->tasaconv_compra}" autocomplete="off"/>
                                <span class="input-group-btn">
                                    <button class="form-control input-sm btn btn-default" type="button" title="Agregar tasa de conversión" onclick="agregarTasa('{$value->coddivisa}','compra')">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="col-sm-2 text-right">
                            <div class="btn-group">
                                {if="$fsc->allow_delete"}
                                {if="$value->coddivisa==$fsc->empresa->coddivisa"}
                                <a href="#" class="btn btn-sm btn-warning" title="Bloqueado" onclick="alert('No puedes eliminar la divisa predeterminada.')">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </a>
                                {else}
                                <a href="#" class="btn btn-sm btn-danger" title="Eliminar" onclick="eliminar_divisa('{$value->coddivisa}')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                {/if}
                                {/if}
                                <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;this.form.submit();" title="Guardar">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </form>
                {/loop}
                <form action="{$fsc->url()}" method="post" class="form">
                    <tr class="info">
                        <td><input class="form-control" type="text" name="coddivisa" maxlength="3" autocomplete="off" placeholder="Nueva..."/></td>
                        <td><input class="form-control" type="text" name="simbolo" autocomplete="off" placeholder="$"/></td>
                        <td><input class="form-control" type="text" name="descripcion" autocomplete="off" placeholder="Moneda"/></td>
                        <td><input class="form-control" type="text" name="codiso" autocomplete="off"/></td>
                        <td><input class="form-control" type="text" name="tasaconv" value="1" autocomplete="off"/></td>
                        <td><input class="form-control" type="text" name="tasaconv_compra" value="1" autocomplete="off"/></td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;this.form.submit();" title="Guardar">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="configuracion">
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Divisa predeterminada</h3>
                        </div>
                        <div class="panel-body">
                            Puedes seleccionar la divisa predeterminada de FacturaScripts desde Admin &gt; Empresa.
                            <br/><br/>
                            <a href="index.php?page=admin_empresa#facturacion" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> &nbsp; Elegir divisa
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Opciones de divisa</h3>
                        </div>
                        <div class="panel-body">
                            Puedes cambiar el número de decimales, el separador, etc... desde el panel de control.
                            <br/><br/>
                            <a href="index.php?page=admin_home#avanzado" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> &nbsp; Panel de control
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {loop="$fsc->extensions"}
    {if="$value->type=='tab'"}
    <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
        <iframe src="index.php?page={$value->from}{$value->params}" width="100%" height="2000" frameborder="0"></iframe>
    </div>
    {/if}
    {/loop}
</div>
<form action="{$fsc->url()}" data-toggle="validator" role="form" id="f_agregar_tasa" method="post" class="form">
    <input type="hidden" name="agregar_tasa" value="TRUE"/>
    <input type="hidden" name="coddivisa" value=""/>
    <input type="hidden" name="tipo_conversion" value=""/>
    <div class="modal fade" id="modal_agregar_tasa">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Agregar tasa de conversion</h4>
                </div>
                <div class="modal-body bg-warning">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                Divisa Empresa:
                                <input class="form-control" type="text" readonly name="divisa" value="{$fsc->empresa->coddivisa}" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                Fecha de Tasa:
                                <input class="form-control datepicker" type="text" name="fecha" value="" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                Tasa de conversión:
                                <input type="number" class="form-control" step="any" name="tasa_conversion" min="0" id="tasa_conversion" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-disable="true" class="btn btn-sm btn-warning">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function agregarTasa(divisa,tipo){
        $('#tipo_conversion').val(tipo);
        $('#coddivisa').val(divisa);
        $('#modal_agregar_tasa').modal('show');
    }

    function guardarTasa(){
        //Enviar modal
    }
</script>
{include="footer"}